// Import Variables
@import "@/styles/variables.scss";

// service card

.ServiceBoxWrapper {
    margin-bottom: 126px;

    @media (max-width: 991px) {
        margin-bottom: 100px;
    }

    @media (max-width: 575px) {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .ImageWrapper {
        height: 90px;
        width: 90px;
        background: map-get($light-blue-gradients, color-1);
        border-radius: map-get($border-radius, medium);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            height: 80px;
            width: 80px;

            img {
                height: 40px;
                width: 40px;
            }
        }
    }

    .ServicesLeft {
        margin-bottom: 126px;
    }
}
