// Import Variables
@import "@/styles/variables.scss";

// team member box

.boxWrapper {
    @media (max-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
    }

    &.even {
        margin-top: 40px;

        @media (max-width: 768px) {
            margin-top: 0px;
        }

        .imageWrapper {
            &::before {
                background: map-get($yellow-gradients, color-5);
            }
        }
    }

    .imageWrapper {
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 270px;
            -webkit-mask-size: 100%;
            mask-size: 100%;
            -webkit-mask-image: url("../../../../public/images/sections/our-team/shape/1.png");
            mask-image: url("../../../../public/images/sections/our-team/shape/1.png");
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            background: map-get($light-blue-gradients, color-1);
            bottom: -13px;
            left: 0;
            border-radius: map-get($border-radius, extra-large);
            z-index: -1;

            @media (max-width: 1199px) {
                bottom: 0px;
            }
        }
    }
}
