// Import Variables
@import "@/styles/variables.scss";

// team member box

.boxWrapper {
    @media (max-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
    }

    &.even {
        margin-top: 40px;

        @media (max-width: 768px) {
            margin-top: 0px;
        }

        .imageWrapper {
            &::before {
                background: map-get($yellow-gradients, color-5);
            }
        }
    }

    .imageWrapper {
        position: relative;
        z-index: 1;

        .shapeWrapper {
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }
}
