// Showcase
.showcase {
    padding: 125px 0px 115px 0px;
    position: relative;

    // Showcase all studies
    .StudiesWrapper {
        padding: 0px 25px;
        margin-top: 80px;
        .even {
            margin-top: 60px;
        }
    }

    // Background shapes
    .ShapeWrapper {
        // Round Dots Circle

        img:nth-child(1) {
            position: absolute;
            top: -40px;
            right: 141px;
        }

        // Square Dots Circle

        img:nth-child(2) {
            position: absolute;
            bottom: -55px;
            left: 172px;
        }
    }
}
