// Showcase
.showcase {
    padding: 125px 0px 115px 0px;
    position: relative;

    @media (max-width: 1200px) {
        padding: 120px 0px;
    }

    @media (max-width: 991px) {
        padding: 100px 0px;
    }

    @media (max-width: 768px) {
        padding: 80px 0px;
    }

    @media (max-width: 575px) {
        padding: 70px 0px;
    }

    @media (max-width: 480px) {
        padding: 60px 0px;
    }

    // Showcase all studies
    .StudiesWrapper {
        padding: 0px 25px;
        margin-top: 80px;

        @media (max-width: 1200px) {
            margin-top: 70px;
        }

        @media (max-width: 991px) {
            margin-top: 60px;
        }

        @media (max-width: 768px) {
            margin-top: 50px;
        }

        @media (max-width: 575px) {
            padding: 0px;
            margin-top: 40px;
        }

        @media (max-width: 480px) {
            margin-top: 20px;
        }

        .even {
            margin-top: 60px;

            @media (max-width: 575px) {
                margin-top: 0px;
            }
        }

        .StudiesImagesWrapper {
            @media (max-width: 575px) {
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

    // Background shapes
    .ShapeWrapper {
        // Round Dots Circle

        img:nth-child(1) {
            position: absolute;
            top: -40px;
            right: 141px;

            @media (max-width: 991px) {
                height: auto;
                width: calc(136px - 30px);
                right: 80px;
                top: -20px;
            }

            @media (max-width: 575px) {
                width: calc(136px - 60px);
                right: 20px;
                top: -10px;
            }
        }

        // Square Dots Circle

        img:nth-child(2) {
            position: absolute;
            bottom: -55px;
            left: 172px;

            @media (max-width: 991px) {
                height: auto;
                width: calc(165px - 30px);
                bottom: -35px;
                left: 80px;
            }

            @media (max-width: 575px) {
                width: calc(165px - 60px);
                bottom: -25px;
                left: 20px;
            }
        }
    }
}
