// Import Variables
@import "@/styles/variables.scss";

// hero section

.hero {
    padding: 165px 0px 53px 0px;
    position: relative;
    z-index: 1;

    // responsive
    @media (max-width: 1399px) {
        padding: 180px 0px 45px 0px;
    }

    @media (max-width: 1199px) {
        padding: 200px 0px 100px 0px;
    }

    @media (max-width: 991px) {
        padding: 180px 0px 90px 0px;
    }

    @media (max-width: 767px) {
        padding: 160px 0px 80px 0px;
    }

    @media (max-width: 575px) {
        padding: 140px 0px 70px 0px;
    }

    @media (max-width: 480px) {
        padding: 120px 0px 60px 0px;
    }

    //  hero content

    .contentWrapper {
        .description {
            max-width: 515px;
            margin: 12px 0px 37px 0px;

            // responsive

            @media (max-width: 1200px) {
                max-width: 100%;
                margin: 25px 0px;
            }

            @media (max-width: 575px) {
                margin: 18px 0px;
            }
        }

        // button wrapper

        .buttonsAvatars {
            // responsive

            @media (max-width: 1199px) {
                flex-direction: column;
                align-items: flex-start !important;
            }

            @media (max-width: 991px) {
                align-items: center !important;
            }

            .avatarsWrapper {
                margin-left: 34px;

                // responsive
                @media (max-width: 1199px) {
                    margin-left: 0px;
                    margin-top: 30px;
                    margin-bottom: 100px;
                }

                @media (max-width: 991px) {
                    margin-bottom: 20px;
                }

                @media (max-width: 767px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 575px) {
                    margin-left: 0px;
                    margin-bottom: 0px;
                }

                .avatarImages {
                    .image {
                        margin-left: -12px;
                        outline: 7px solid map-get($light-blue-color, color-2);

                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }

                .avatarContent {
                    margin-left: 18px;
                }
            }
        }
    }

    //  hero image

    .imageWrapper {
        position: relative;

        // responsive

        @media (max-width: 1199px) {
            bottom: -25px;
        }

        @media (max-width: 991px) {
            max-width: 400px;
        }

        .mainImage {
            position: relative;
            z-index: 1;

            .circleOverlay {
                position: absolute;
                bottom: 40px;
                left: 0px;
                z-index: -1;
            }
        }
    }

    //  hero client slider
    .sliderWrapper {
        position: relative;
        padding: 60px 50px;
        margin: -45px 0px 0px 0px;
        z-index: 1;
        mask-image: url("../../../public/images/sections//hero/shapes/rectangle.png");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        background: map-get($secondary-color, normal);

        @media (max-width: 1200px) {
            background-size: 100% 101%;
            margin-top: -50px;
        }

        @media (max-width: 991px) {
            padding: 50px 40px;
            background-size: 100% 102%;
            margin-top: -40px;
        }

        @media (max-width: 768px) {
            padding: 40px 30px;
            margin-top: -10px;
        }

        @media (max-width: 575px) {
            padding: 30px 20px;
            background-size: 100% 103%;
            margin-top: 0px;
        }

        .sliderText {
            margin-bottom: 15px;
        }
    }
}
