// Import Variables
@import "@/styles/variables.scss";

// blog card

.boxWrapper {
    @media (max-width: 768px) {
        max-width: 400px;
        margin: 0px auto;
    }

    .imageWrapper {
        position: relative;

        .category {
            position: absolute;
            left: 13px;
            bottom: 13px;
            padding: 6px 10px;
        }
    }

    .titleWrapper {
        margin: 19px 0px 24px 0px;

        @media (max-width: 991px) {
            margin: 16px 0px 20px 0px;
        }

        @media (max-width: 575px) {
            margin: 12px 0px 15px 0px;
        }
    }
}
