// Import Variables
@import "@/styles/variables.scss";

// footer

.footer {
    padding: 200px 0px 50px 0px;

    @media (max-width: 1200px) {
        padding-top: 160px;
    }

    @media (max-width: 991px) {
        padding-top: 140px;
    }

    @media (max-width: 768px) {
        padding-top: 120px;
    }

    @media (max-width: 575px) {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    @media (max-width: 480px) {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    svg {
        color: map-get($gray-color, light);
        transition: map-get($transition, fast);

        &:hover {
            color: map-get($secondary-color, normal);
        }
    }

    a {
        transition: map-get($transition, fast);

        &:hover {
            color: map-get($secondary-color, normal);
        }
    }

    // column 1
    .column1Wrapper {
        max-width: 323px;
    }

    // column 2
    .column2Wrapper,
    .column3Wrapper,
    .column4Wrapper {
        ul {
            li:last-child {
                margin-bottom: 0px !important;
            }
        }
    }

    //   copyright
    .copyRightWrapper {
        margin-top: 80px;

        @media (max-width: 991px) {
            margin-top: 60px;
        }

        @media (max-width: 575px) {
            margin-top: 30px;
        }

        @media (max-width: 480px) {
            margin-top: 10px;
        }
    }
}
