// Typography Styles

// Heading Styles
$heading: (
    h1: 70,
    h2: 48,
    h3: 44,
    h4: 28,
    h5: 24,
    h6: 22,
);

// Text Styles
$text: (
    very-large: 20,
    large: 18,
    medium: 16,
    small: 14,
);

// Font Weights
$Weights: (
    ultra-thin: 100,
    thin: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900,
);

// Colors

// Primary Color
$primary-color: (
    normal: #facd00,
    dark: #f1b33a,
    light: #fff7d8,
    lighter: #fff7f0,
);

// Secondary Color
$secondary-color: (
    normal: #4b24e7,
);

// Black and White Colors
$black-color: #000;
$white-color: #fff;

// Gray Colors
$gray-color: (
    dark: #3a3a3a,
    normal: #4a4a4a,
    light: #555555,
);

// Blue Colors
$light-blue-color: (
    color-1: #f1f6ff,
    color-2: #f5f3f5,
    color-3: #dbe6ff,
);

// yellow Gradient colors
$yellow-gradients: (
    color-1:
        linear-gradient(
            230deg,
            rgba(214, 227, 255, 0) 0.23%,
            #ffc737 0.23%,
            rgba(214, 227, 255, 0) 78.93%
        ),
    color-2: linear-gradient(284deg, #fff0e3 0.23%, rgba(214, 227, 255, 0) 98.87%),
    color-3: linear-gradient(284deg, #fff0e3 0.23%, rgba(214, 227, 255, 0) 98.87%),
    color-4: linear-gradient(284deg, #fff0e3 0.23%, rgba(214, 227, 255, 0) 98.87%),
    color-5: linear-gradient(126deg, #facf0c 3.2%, #fff 96.54%),
);

// Light Blue Gradient Colors
$light-blue-gradients: (
    color-1: linear-gradient(136deg, #d9e5ff 38.1%, #fff 98.86%),
    color-2: linear-gradient(180deg, rgba(214, 227, 255, 0.65) 0%, rgba(214, 227, 255, 0) 100%),
);

// Section Gradient Colors
$section-bg-gradient-color: (
    color-1: linear-gradient(317deg, #d6e3ff 0%, #fff0e3 100%),
    color-2: linear-gradient(317deg, #fff0e3 0%, #d6e3ff 100%),
);

// Status Colors
$status-colors: (
    success: #00c853,
    error: #ff1744,
    warning: #ff9100,
    info: #2196f3,
);

// Borders

// Border Radii
$border-radius: (
    very-small: 5px,
    small: 7px,
    medium: 12px,
    large: 16px,
    extra-large: 20px,
    very-large: 37px,
    circle: 100%,
);

// Border Sizes
$borderSizes: (
    thin: 1px,
    medium: 2px,
    thick: 3px,
);

// Transitions

// Transition Durations
$transition: (
    fast: 0.3s,
    medium: 0.5s,
    slow: 0.8s,
);

// Z-index Levels

$z-index-levels: (
    header: 100,
    modal: 200,
    dropdown: 150,
);

// Breakpoints

$breakpoint: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Buttons

// button colors

$button-colors: (
    primary: (
        background-color: #facd00,
        color: #000,
        hover: lighten(#facd00, 10%),
        box-shadow-color: lighten(#facd00, 10%),
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px,
    ),
    secondary: (
        background-color: #4b24e7,
        color: #fff,
        hover: lighten(#4b24e7, 10%),
        box-shadow-color: lighten(#4b24e7, 10%),
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px,
    ),
);

// button sizes

$button-sizes: (
    small: (
        padding: 8px 18px,
    ),
    medium: (
        padding: 14px 24px,
    ),
    large: (
        padding: 16px 28px,
    ),
);
